python-telegram-bot==20.7
requests==2.32.3
schedule==1.2.2
PyJWT
protobuf
protobuf-decoder
psutil
pycryptodome
urllib3
httpx
aiogram
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
pytz
rich
flask-cors
google-play-scraper
cfonts
aiohttp
